body {
    background-color: #121212;
    color: #ffffff;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.title {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 48px;
    text-align: center;
    margin-top: 20px;
    color: goldenrod;
}




.h2{
    border: 5px solid black;
    -webkit-text-stroke: 10px black;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #1a1a1a;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar h2 {
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center; 
}

.sort-controls {
    margin-bottom: 10px; 
    margin-top: 10px;
}

.sort-controls button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #333;
    border: none;
    color: #ffffff;
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.sort-controls button:hover {
    background-color: lightseagreen;
}

.container {
    margin-left: 240px; /* serve per colpa della barra laterale a sinistra */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.god {
    margin: 20px;
    cursor: pointer;
    position: relative; 
    
}

.god-name {
    font-size: 16px; 
    text-align: center; 
    position: absolute; 
    bottom: 5px;
    left: 0; 
    right: 0; 
}



.god img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.god img:hover {
    transform: scale(1.1);
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    max-width: 80%;
    z-index: 1000;
    border: 2px solid transparent;
    transition: all 0.3s ease-in-out;
}

.popup.active {
    border-color: transparent;
}
#godInfo {
    font-size: 24px; 
    text-align: center; 
    margin-top: 20px; 
}
.close {
    color: #ffffff;
    float: right;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: lightseagreen;
}


/* Stili per schermi più piccoli */
@media only screen and (max-width: 768px) {
    .sidebar {
        width: 100%; /* La barra laterale occupa l'intera larghezza dello schermo */
        padding: 10px; /* Riduci il padding */
        position: static; /* Torna alla posizione normale nel flusso del documento */
    }
    .container {
        margin-left: 0; /* Resetta il margine sinistro */
        width: 100%; /* La sezione principale occupa l'intera larghezza dello schermo */
    }

    .popup{
        width: 70%;
    }
}

/* Stili per schermi più grandi */
@media only screen and (min-width: 769px) {
    .sidebar {
        width: 200px; /* Ripristina la larghezza della barra laterale */
        padding: 20px; /* Ripristina il padding */
        position: fixed; /* Fissa la barra laterale */
    }
    .container {
        margin-left: 240px; /* Ripristina il margine sinistro */
        width: calc(100% - 240px); /* La sezione principale occupa lo spazio rimanente */
    }
}
